//fonts
$font01: Roboto, sans-serif;

// cores
$corDestaque: #44bd32;
$corFont01: #fff; 
$corPrincipal: #f5f6fa;
$corSecundaria: #182C61;
$corTerceira: #4cd137;

//breakPoints
$mobile: 767px;
$tablet: 1023px;